<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/scripts/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="/static/scripts/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css.css" />
	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/scripts/jquery-2.1.4.min.js"></script>
	<script src="/static/scripts/bootstrap.min.js"></script>

<style>
body { font-family: "Noto Sans CJK TC","思源黑體 TWHK Regular","思源黑體",思源,Source,"Noto Sans CJK","Noto Sans CJK Regular","微軟正黑體",Verdana; }
</style>
</head>
<!--Background: http://colorzilla.com/gradient-editor/#ecfffb+0,a4fff6+100 -->
<body style="background: #a4fff6;">
<div class="frame" style="background: #ecfffb; background: -moz-linear-gradient(top, #ecfffb 0%, #a4fff6 100%); background: -webkit-linear-gradient(top, #ecfffb 0%,#a4fff6 100%);background: linear-gradient(to bottom, #ecfffb 0%,#a4fff6 100%);">
	<div class="navbar-wrapper"><nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<!--小螢幕變為按鈕模式-->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<span class="navbar-brand" ><a href="/">DIVA台灣社 冬季大會</a></span>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">

				<li class="dropdown {% block menuIndexClass %}{% endblock%}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >首頁<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="divider"><li><a href="/#intro">賽制說明</a></li>
						<li class="divider"><li><a href="/#group">分組名單</a></li>
						<li class="divider"><li><a href="/#song">歌曲清單</a></li>
						<li class="divider">
					</ul>
				</li>
				<li class="dropdown {% block menuSongClass %}{% endblock%}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >分組成績<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						{% for i in TEAMS %}
						<li class="divider"><li><a href="/score/team/{{i[0]}}">{{i[1]}}</a></li>
						{% endfor %}
						<li class="divider">
					</ul>
				</li>
				<li class="{% block menuPersonalClass %}{% endblock%}"><a href="/score/personal">個人成績</a></li>
				<li class="{% block menuSongRankClass %}{% endblock%}"><a href="/score/song">曲排序</a></li>
				<li class="{% block menuUploadClass %}{% endblock%}"><a href="/upload">上傳</a></li>
			</ul>
			</div>
		</div>				
	</nav></div>
	<div class="container">
	{% block content %}{% endblock %}
	</div>
</div>
</body>
</html>
