{% extends "base.html" %}  

{% block title %}第二屆DIVA台灣社線上大賽{% endblock %}

{% block menuIndexClass %}active{% endblock%}

{% block content %}

<a href="https://www.facebook.com/groups/216199652045366/"><img src="https://pdatw-score.dd-han.tw/static/banner.jpg" class="img-responsive img-rounded" alt="Banner"></a>
<div class="col-sm-12 thumbnail" style="color: #CE4844; border-left-color: #CE4844; border-width: 1px 1px 1px 5px;">
	<h1>緊急公告</h1>
	<p>由於受到2月6日 台南地震的影響，補償方案已經出來。<a href="https://www.facebook.com/groups/339214869483531/permalink/1031838126887865/">詳細請至 Facebook 查閱</a></p>
</div>
<div class="container">
<p></p>
<p><br /></p>

<p class="Intro">此網站為「第二屆DIVA台灣社線上大賽」紀錄頁面。<br />
本次賽制將藉由不同賽制來增加音樂遊戲不同玩法的可能性。<br />
本場比賽主體以「分組對戰」為主，看重團體的戰術概念、以達到交流的目標。</p>
</div>

<div style="clear: both;"></div>
<a name="group"></a>
<h2>分組名單</h2>
{% for team in TEAMSMEMBER %}
<div class="col-sm-4 thumbnail" >
<h3 style="padding-left: 8px;" class="text-nowrap cutOverFlow"><a href="/score/team/{{team[0][0]}}">{{team[0][1]}}</a></h3>
<table class="table table-hover">
	<thead>
		<tr><th>Facebook名稱</th><th>Aime卡名稱</th></tr>
	</thead>
	<tbody>
		{% for member in team[1] %}<tr>
			<td><a href="https://www.facebook.com/{{member['FBID']}}" target="_blank">{{member['FBName']}}</a></td>
			<td><a href="/score/personal/{{member['PlayerID']}}">{{member['CardName']}}</a></td>
		</tr>{% endfor %}
	</tbody>
</table>
</div>
{% endfor %}

<div style="clear: both;"></div>

<div class="col-sm-6" style="padding: 0;">
<a name="intro"></a>
<h1>賽制積分規則說明</h1>
<h2>I.排序規則</h2>
<p>由各隊成績回報的成績圖為依據，以隊伍為單位：
<ul><li>採計官方指定曲最高達成率一張</li>
<li>採計大會賽指定曲最高達成率，一人三張</li>
<li>不同隊員上傳重複之曲目，則以最高達成率者優先</li>
<li>隊員成績不滿三張者，缺少的曲目將以０％計算</li></ul></p>

<h2>II.積分轉換</h2>
<p>以曲為基準，將各隊的成績予以排序：
<ul><li>最高積分６點、最低1點</li>
<li>排序標準以「達成率」＞「ＦＩＮＥ數量」＞「樂曲分數」為判斷方式</li>
<ul><li>組合鍵ＦＩＮＥ不列入計算，依成績單上的數字為主</li></ul>
<li>完全符合的兩張成績圖的積分會給予一致的積分</li>
<ul><li>同為最高且成績完全符合的情況，該曲積分為６、６、４、３、２、１</li></ul>
<li>同上，０％的排序，將一律給予最低的積分１點</li>
<li>官方指定曲的積分為兩倍，積分為２、４、６、…、１２點</li></ul></p>

<h2>III.積分計算</h2>
<p>團隊積分：各隊員的積分加總則為團隊總積分（２３～１３８）<br />
個人積分：各選手最後採計的成績三首總積分（３～１８）</p>
</div>
<div class="col-sm-6" style="padding: 0;">
<a name="song"></a>
<h2>歌曲清單</h2>
<table class="table table-hover">
	<thead>
		<tr><th>歌曲名稱</th><th>難度</th><th>★</th><th></th></tr>
	</thead>
	<tbody>
		{% for song in songs %}<tr>
			<td>{{song['SongName']}}</td>
			<td>{{song['SongLevel']}}</td>
			<td>{{song['SongStars']}}</td>
			{% if song['isSpecSong'] %}<td>指定曲</td>{% else %}<td></td>{% endif %}
		</tr>{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}
