{% extends "base.html" %}  

{% block title %}第二屆DIVA台灣社線上大賽 - 分數查詢{% endblock %}

{% block menuSongClass %}active{% endblock%}

{% block content %}
<h2>分組成績：{{teamInfo[1]}}</h2>

	<!--{{scoreList}}-->
	<div class="col-sm-8" style="padding: 0"><h3>歌曲：<a href="/score/team/{{teamInfo[0]}}/songList/{{songList['SongID']}}">{{songList['SongName']}}</a></h3></div>
	<div class="col-sm-4" style="padding: 0"><h3>難度：{{songList['SongLevel']}}</h3></div>
	<div style="clear: both"></div>
	{% for score in scoreList[0]%}
	<div class="col-sm-4 thumbnail">
		<div class="col-sm-6" style="padding:0"><a href="https://www.facebook.com/{{score['FBID']}}" target="_blank">{{score['CardName']}}
			</a></div>
		<div class="col-sm-6">達成率：{{ score['Rate'] }}%</div>
		<img src="/static/images/{{score['ImageHash']}}{{score['ImageExt']}}" style="max-width: 100%;">
	</div>
	{% endfor %}
	<div style="clear: both"></div>
	
{% endblock%}

